<template>
    <div>
        <div v-for="pricingCardSection in pricingCardSectionList">
            <AtomDivider />
            <h1 class="title" :id="getSectionId(pricingCardSection.pricingSection)">{{
                pricingCardSection.pricingSection
            }}</h1>
            <div class="flex flex-wrap items-stretch place-content-center gap-y-4">
                <div v-for="pricingCard in pricingCardSection.pricingCardList" class="w-full md:w-1/2 lg:w-1/3">
                    <ProjectOptionWidgetsCard :pricingSection="pricingCardSection.pricingSection"
                        :pricingCard="pricingCard" class="mx-3" />
                </div>
                <div v-if="pricingCardSection.pricingSection === PricingSection.Custom" v-for="pricingChoice in thisProject().value?.pricingChoices.filter(pricingChoice => pricingChoice.pricingSection === PricingSection.Custom)"
                    class="w-full md:w-1/2 lg:w-1/3">
                    <ProjectOptionWidgetsCard :pricingSection="pricingChoice.pricingSection"
                        :pricingCard="pricingChoice.pricingCard" class="mx-3" />
                </div>
                <div v-if="pricingCardSection.pricingSection === PricingSection.Custom && thisProject().value?.pricingChoices.filter(pricingChoice => pricingChoice.pricingSection === PricingSection.Custom).length === 0"
                    class="w-full md:w-1/2 lg:w-1/3">
                    <ProjectOptionWidgetsCard :pricingSection="pricingCardSection.pricingSection" class="mx-3"
                        key="newOption" />
                </div>
            </div>

        </div>

        <div class="px-10 py-4 border-4 border-g-dark-blue rounded-2xl font-medium text-g-dark-blue text-4xl text-center mx-auto mt-28 mb-10 w-fit
            ">
            {{ formatTotal }}
        </div>
    </div>
</template>

<script setup lang="ts">
const { getSectionId, getTotalPrice, getTotalPricePerMonth, getTotalPricePerYear } = useOption()
const pricingCardSectionList = getPricingCardSectionList()
const { formatPrice } = useString()

const formatTotal = computed(() => {
    const hasPricePerMonth: Boolean = getTotalPricePerMonth() !== 0
    const hasPricePerYear: Boolean = getTotalPricePerYear() !== 0
    let total = "Total : " + formatPrice(getTotalPrice())
    if(hasPricePerMonth || hasPricePerYear) {
        total += ", puis "
        if(hasPricePerMonth) {
            total += formatPrice(getTotalPricePerMonth()) + " / mois"
            if(hasPricePerYear) {
                total += ", et "
            }
        }
        if(hasPricePerYear) {
            total += formatPrice(getTotalPricePerYear()) + " / an"
        }
    }
    return total
})



</script>