<template>
      <AtomSidebar @close="onclose()" @after-leave="onAfterLeave()" :menu-active="menuActive" title="Nouvelle option">

            <AtomInput name="type" ref="typeInput" v-model="option.type" type="text" title="Type" :required="true" />

            <AtomInput name="amount" ref="amountInput" v-model="option.amount" type="number" title="Montant" :required="true" />

            <select v-model="option.amountInfos">
                  <option v-for="amountInfo in Object.values(PricingAmountInfo)" :value="amountInfo">{{ amountInfo }}</option>
            </select>

            <AtomTextarea title="Description" v-model="option.description" name="description" rows="3" />

            <AtomMultiInput v-model="option.including" name="option" title="Option"/>
            


            <AtomButton type="blue" title="Ok" @click="onSubmit()" class="mx-5" />
      </AtomSidebar>

</template>
<script lang="ts" setup>
import { PricingAmountInfo, PricingCard } from '~~/composables/useOption';
const emit = defineEmits(['close'])

const typeInput = ref()
const amountInput = ref()

const { 
      onCreate,
      onAdd
} = useOption()

const option = ref(onCreate())

defineProps({
menuActive: Boolean,
optionToEdit: Object as () => PricingCard
})

const onclose = () => {
  emit('close')
}

const onSubmit = () => {
      const { validateForm, hasError } = useFormValidation()
      validateForm(typeInput, amountInput)
      if(!hasError.value) {
      onAdd(option.value)
      onclose()
      }
}

const onAfterLeave = () => {
      option.value = onCreate()
}




</script>