<template>
    <div class="flex-wrap justify-center gap-8 text-center sm:flex">
        <div v-for="(pricingChoice, index) in choices"
            class="w-full px-8 py-5 rounded-2xl shadow-lg shadow-g-light border border-g-light md:w-1/2 lg:w-1/3 space-y-5 text-g-dark mt-12">
            <div class="flex justify-center text-g-light-blue ">
                <Icon name="line-md:confirm-circle" class="h-16 w-16" />
            </div>
            <h3 class="text-2xl font-medium">
                {{ pricingChoice.pricingSection }}
            </h3>
            <p class="text-g-dark text-lg">
                {{ pricingChoice.pricingCard.description }}
            </p>
            <div>
                <div v-for="include in pricingChoice.pricingCard.including">
                    <div class="flex justify-between items-center my-2 font-medium" v-if="include != ''">
                        <Icon name="line-md:confirm" class="h-7 w-7 text-g-dark-blue" />
                        <div class="w-9/12 text-justify">{{ include }}</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import { PricingChoice } from '~~/composables/useOption';


const project = computed(() => {
    return thisProject().value
})

const choices = (project.value!.pricingChoices as unknown) as PricingChoice[]

</script>