<template>
        <div>
        
    <div class="flex flex-col gap-12 justify-center py-16">
        <div class="grid grid-cols-1 w-full md:grid-cols-2 xl:grid-cols-3 xl:gap-8">
            <ProjectWidgetsCard v-if="allProjects().value && allProjects().value.length > 0" v-for="project in allProjects().value" :key="project.name" :project="project"/>
            <ProjectWidgetsCard key="noProject" v-else/>
        </div>
    </div>
</div>
</template>

<script setup lang="ts">
const {
    onFetch
} = useProject()

onMounted(() => {
    onFetch()
})

</script>
