<template>
    <div>

        <div class="grid grid-cols-1 w-full md:grid-cols-2 gap-8">
            <ProjectWidgetsCard v-if="projects && projects.length > 0" v-for="project in projects" :key="project.name"
                :project="project" />
            <ProjectWidgetsCard key="noProject" v-else-if="!isManager()" />
            <ProjectWidgetsCard key="addProject" v-if="isManager()" />
        </div>
    </div>
</template>

<script setup lang="ts">
const {
    onFetch
} = useProject()

const projects = computed(() => allProjects().value)

onMounted(() => {
    onFetch()
})

</script>
