
<template>
    <div class="space-y-4">
        Documents
    <div @dragenter.prevent="onDragActive" @dragleave.prevent="onDragActive" @dragover.prevent 
        @drop.prevent="onDrop" :class="{ ' border-g-dark border-2 animate-pulse': dragActive }"
        class="flex items-center justify-center w-full border-2 border-g-dark bg-white border-dashed rounded-lg">
        <div class="flex flex-col items-center justify-center gap-2 text-g-dark w-full">
            <label for="file"
                class="flex flex-col items-center justify-center pt-8 pb-4 text-lg cursor-pointer hover:bg-g-light w-full transition-colors">
                <Icon name="line-md:cloud-up" class="w-20 h-20 animate-bounce"/>
                <p>Drag & drop</p>
                <!-- File input -->
                <input type="file" @change="onSelectFile" name="file" id="file" class="hidden" multiple />
            </label>
            
        </div>
    </div>
    </div>
</template>
<script setup lang="ts">

const { dragActive, onDragActive, onDrop, onSelectFile } = useFileUpload();


</script>

<style scoped>

</style>