
<template>
            <label for="file"
                class="flex flex-col items-center justify-center py-4 text-lg cursor-pointer hover:bg-g-light w-full transition-colors border-2 border-dashed border-g-dark-blue rounded-lg bg-white text-g-dark-blue text-center">
                <Icon name="line-md:plus" class="w-12 h-12"/>
                <p>Ajouter fichiers</p>
                <!-- File input -->
                <input type="file" @change="onSelectFile" name="file" id="file" class="hidden" multiple />
            </label>
</template>
<script setup lang="ts">
//flex items-center justify-center w-full border-2 border-g-dark bg-white border-dashed rounded-lg
const { onSelectFile } = useFileUpload();


</script>

<style scoped>

</style>