<template>
    <div class="row">

        <div v-for="column in columns">
        {{column}}
        <draggable
          :list="project.steps"
          item-key="name"
          ghost-class="ghost-card"
        >
          <template #item="{ element }">
            <div :class="{ 'not-draggable': !enabled }">
              {{ element.name }}
            </div>
          </template>
        </draggable>
    </div>
      </div>
  </template>
  

<script setup>
 import draggable from "vuedraggable";
let { onFetchOne } = useProject("VWmAGrvNY0Qcx9M0gO5O");
onMounted(async () => {
  onFetchOne();
});

const enabled = ref(true)
const dragging = ref(false)

const list = ref([
          { name: "John", id: 0 },
          { name: "Joao", id: 1 },
          { name: "Jean", id: 2 }
        ])

const project = computed(() => {
    return thisProject().value
})

const columns = [
    "Backlog",
    "En cours",
    "Terminé"
]

</script>
  <style scoped>
.ghost-card {
  opacity: 0.5;
  background: #F7FAFC;
  border: 1px solid #4299e1;
}
  .not-draggable {
    cursor: no-drop;
  }
  </style>