<template>
    <div class="transition hover:scale-110 duration-200 sm:w-96 rounded-lg shadow-lg p-6 m-8 sm:m-0 h-full border-2 border-g-light relative z-0"
        :class="project && isFinished(project) ? 'bg-indigo-50' : 'bg-white'">
        <NuxtLink v-if="project" :to="'/project/' + project.id">
            <Icon name="line-md:confirm-circle" class="h-10 w-10 absolute -top-5 -right-5 text-g-dark-blue"
                v-if="isFinished(project)" />
            <div class="flex flex-col gap-y-8 mb-4">
                <div>
                    <div class="flex flex-row space-x-3">
                        <div v-for="status in useStatus(project).allStatus" :key="status" class="grow">
                            <div class="h-2 rounded-sm bg-g-dark-blue w-full" v-if="useStatus(project).isFinished(status)">
                            </div>
                            <div class="h-2 rounded-sm bg-g-light-blue w-full"
                                v-else-if="useStatus(project).isOngoing(status)">
                            </div>
                            <div class="h-2 rounded-sm bg-g-light w-full" v-else></div>
                        </div>
                    </div>
                </div>
                <div class="flex justify-between items-center mb-2  text-g-light-blue text-xs font-medium">
                    <div class="px-2 py-0.5 border-2 border-g-light-blue rounded-md">
                        {{ project.status }}
                    </div>
                    <div class="px-2 py-0.5 border-2 border-g-light-blue rounded-md "
                        v-if="(project.steps && project.steps.length > 0)">
                        Etape : {{ project.steps[0].name }}
                    </div>
                </div>
                <h5 class="text-3xl font-medium my-3 text-center">{{ project.name }}</h5>
                <div class="flex justify-between ">
                    <div>
                        <BuildingOffice2Icon class="h-8 mx-auto" /><span>{{ project.company }}</span>
                    </div>
                    <div>
                        <UserIcon class="h-8 mx-auto" />{{ project.firstName }} {{ project.lastName }}
                    </div>
                </div>

            </div>
            <div
                class="absolute bottom-0 right-0 px-2 py-0.5 border-2 border-g-light-blue rounded-md  text-g-light-blue text-xs m-2 font-medium">
                <span v-if="project.steps && project.steps.length > 1">Dernière mise à jour le {{
                    project.steps[project.steps.length - 1]?.startDate ?
                    formatMediumDate(new
                        Date(project.steps[project.steps.length - 1]?.startDate)) : ""
                }}</span>
                <span v-else>Créé le {{ formatMediumDate(new Date(project.createdOn))
                }}</span>

            </div>
        </NuxtLink>
        <div v-else-if="cardKey == 'noProject'">
            <div class="flex justify-center items-center h-full">
                Vous n'avez pas encore de projet
            </div>
        </div>
        <NuxtLink v-else-if="cardKey == 'addProject'" :to="'/manager/project/new'">
            <div class="flex justify-center items-center h-full text-g-dark-blue">
                <PlusCircleIcon class="h-36" />
            </div>
        </NuxtLink>
    </div>
</template>

<script setup lang="ts">
import { PlusCircleIcon, BuildingOffice2Icon, UserIcon } from '@heroicons/vue/24/outline'
import { Project } from '~/composables/useProject';
defineProps({
    project: Object as () => Project
})
const { formatMediumDate } = useDate()
const { useStatus, isFinished } = useProject()




const cardKey = getCurrentInstance()?.vnode.key
</script>