<template>
    <div class="flex justify-center">
        <AtomButton type="blue" title="Enregistrer" @click="onSave()" class="mx-auto" />
        <AtomNotification @close="isSaveAlertActive = false" :menu-active="isSaveAlertActive" title="Projet sauvegardé"
            type="blue" />
    </div>
</template>

<script lang="ts" setup>
const {
    onSubmit
} = useProject()

const { validateForm, hasError } = useFormValidation()

const isSaveAlertActive = ref(false)

const { fieldsToValidate } = useProject()

const onSave = () => {
    
    console.log(fieldsToValidate.value)
    if (fieldsToValidate.value) {
        validateForm(...fieldsToValidate.value)
        if (!hasError.value) {
            onSubmit()
            isSaveAlertActive.value = true
        } else {
            scrollTo(0, 0)
        }
    } else {
        onSubmit()
        isSaveAlertActive.value = true
    }
}

const doSave = (e: KeyboardEvent) => {
    if (!(e.keyCode === 83 && e.ctrlKey)) {
        return;
    }

    e.preventDefault();
    onSave()
}

onMounted(async () => {
    document.addEventListener("keydown", doSave);
});

onBeforeUnmount(async () => {
    document.removeEventListener("keydown", doSave);
    fieldsToValidate.value = []
});

</script>