<template>

    <div class="flex" v-if="project">
        <div class="w-1/4" v-for="(s, index) in Object.values(ProjectStatus)" :key="s">
            <div class="relative mb-2">
                <div class="absolute flex align-center items-center align-middle content-center"
                    v-if="Object.values(ProjectStatus).indexOf(s) != 0"
                    style="width: calc(100% - 2.5rem - 1rem); top: 50%; transform: translate(-50%, -50%)">
                    <div class="w-full shadow-sm shadow-g-light-blue bg-g-light rounded items-center align-middle align-center flex-1">
                        <div class="bg-g-light-blue py-1 rounded"
                            :class="Object.values(ProjectStatus).indexOf(s) <= Object.values(ProjectStatus).indexOf(project.status) ? 'w-full' : Object.values(ProjectStatus).indexOf(s) == Object.values(ProjectStatus).indexOf(project.status) + 1 ? 'w-1/3' : 'w-0'">
                        </div>
                    </div>
                </div>
                <div class="w-11 h-11 mx-auto shadow-sm shadow-g-light-blue bg-g-dark-blue rounded-full text-white flex items-center justify-center cursor-pointer"
                    @click="changeStatus(s)">
                    <Icon name="line-md:document-add" class="w-2/3" v-if="index === 0" />
                    <Icon name="line-md:list-3-filled" class="w-2/3" v-if="index === 1" />
                    <Icon name="line-md:computer" class="h-2/3 w-2/3" v-if="index === 2" />
                    <Icon name="line-md:confirm" class="w-2/3" v-if="index === 3" />
                </div>
            </div>

            <div class=" text-center">{{ s }}</div>
        </div>

    </div>

</template>

<script setup lang="ts">
import { ProjectStatus } from "~~/composables/useProject";


const project = computed(() => {
    return thisProject().value
})

const changeStatus = (statusSelect: ProjectStatus) => {
    if (isManager()) {
        project.value!.status = statusSelect
    }
}

</script>