<template>

    <div class="mx-auto mb-20 max-w-5xl">
        <div class="bg-g-light h-1 flex items-center justify-between" v-if="project">
            <div v-for="status in Object.values(ProjectStatus)" :key="status"
                :class="Object.values(ProjectStatus).indexOf(status) != Object.values(ProjectStatus).indexOf(project.status) ? 'grow' : ''">
                <div class="w-full"
                    v-if="Object.values(ProjectStatus).indexOf(status) < Object.values(ProjectStatus).indexOf(project.status)">

                    <div class="grow bg-g-dark-blue h-1 flex items-center">
                        <button @click="changeStatus(status)">
                            <div class="bg-g-dark-blue h-6 w-6 rounded-full shadow flex items-center justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check"
                                    width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFFFF"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" />
                                    <path d="M5 12l5 5l10 -10" />
                                </svg>
                            </div>
                        </button>
                    </div>

                </div>
                <div class="w-full"
                    v-else-if="Object.values(ProjectStatus).indexOf(status) == Object.values(ProjectStatus).indexOf(project.status)">

                    <div class="grow flex justify-between h-1 items-center relative">

                        <div class="bg-white h-6 w-6 rounded-full shadow flex items-center justify-center relative">
                            <div class="absolute w-20 text-center mr-12 mt-3">
                                <div class="relative bg-white shadow-lg px-2 py-1 rounded mt-16 -mr-12">
                                    <svg class="absolute top-0 -mt-1 w-full right-0 left-0" width="16px" height="8px"
                                        viewBox="0 0 16 8" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g id="Progress-Bars" transform="translate(-322.000000, -198.000000)"
                                                fill="#FFFFFF">
                                                <g id="Group-4" transform="translate(310.000000, 198.000000)">
                                                    <polygon id="Triangle" points="20 0 28 8 12 8"></polygon>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    <p tabindex="0" class="focus:outline-none text-g-dark-blue text-sm font-semibold">
                                        Statut : {{ status }}</p>
                                </div>
                            </div>
                            <div class="h-3 w-3 bg-g-dark-blue rounded-full"></div>
                        </div>
                    </div>

                </div>
                <div
                    v-if="Object.values(ProjectStatus).indexOf(status) > Object.values(ProjectStatus).indexOf(project.status)">
                    <div class="grow flex justify-end">
                        <button @click="changeStatus(status)">
                            <div class="bg-white h-6 w-6 rounded-full shadow"></div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script setup lang="ts">
import { ProjectStatus } from '../../../composables/useProject'

const project = computed(() => {
  return thisProject().value
})

const {
    onUpdate
} = useSaleOrder()

function changeStatus(statusSelect: ProjectStatus) {
    if(isManager()) {
        project.value!.status = statusSelect
    updatePDF()
    }
}

const updatePDF = () => {
    onUpdate()
}
</script>