<template>

<div class="mt-20" v-if="project">
      <h2 class="sr-only">Steps</h2>

      <div>
        <ol class="grid grid-cols-1 rounded-lg sm:grid-cols-4 ">
          <li class="relative" v-for="(status, index) in Object.values(ProjectStatus)" :key="status">
            <div class="flex items-center justify-center p-4  border-8"
              :class="Object.values(ProjectStatus).indexOf(status) <= Object.values(ProjectStatus).indexOf(project.status) ? 'bg-g-dark-blue text-g-light border-g-dark-blue' : 'bg-gray-50 text-g-dark-blue border-g-dark-blue'">
              <span 
              style="right: -1.1rem;"
                class="absolute top-1/2 hidden h-10 w-10 -translate-y-1/2 rotate-45 z-40 border-8 border-b-0 border-l-0 border-g-dark-blue sm:block rounded "
                :class="Object.values(ProjectStatus).indexOf(status) <= Object.values(ProjectStatus).indexOf(project.status) ? 'bg-g-dark-blue ' : 'bg-gray-50'">
              </span>
              <Icon name="line-md:document-add" class="h-10 w-10 mr-3" v-if="index === 0"/>
              <Icon name="line-md:list-3-filled" class="h-10 w-10 mr-3" v-if="index === 1"/>
              <Icon name="line-md:computer" class="h-10 w-10 mr-3" v-if="index === 2"/>
              <Icon name="line-md:confirm" class="h-10 w-10 mr-3" v-if="index === 3"/>

              <div>
                <strong class="block "> {{ status }} </strong>
                <p v-if="index === 0"> Création du projet </p>
                <p v-if="index === 1"> Création du projet </p>
                <p v-if="index === 2"> Création du projet </p>
                <p v-if="index === 3"> Création du projet </p>
              </div>
            </div>
          </li>
        </ol>
      </div>
    </div>

</template>

<script setup lang="ts">

const project = computed(() => {
    return thisProject().value
})

</script>