<template>
        <div class="max-w-screen-lg mx-auto">
                <ProjectCustomerForm id="sectionCustomer" />

                <ProjectInfoForm id="sectionProject" />

                <ProjectOptionForm id="sectionPricings" />

                <ProjectInvoice id="sectionSaleOrder" />

                <div class="mt-36 flex justify-center gap-1 xl:gap-10 ">

                        <ProjectWidgetsSaveButton />

                        <AtomButton type="blue" title="Supprimer" @click="onDelete()" v-if="!isNew(project)" />


                </div>

        </div>
</template>

<script setup lang="ts">
const { isNew, onDelete } = useProject()

const project = computed(() => {
        return thisProject().value!;
});


</script>