<template>
    <div class="mb-5 sm:mb-20 text-center text-5xl  text-g-dark-blue" v-if="project">
        <h1>{{ project.name }}</h1>
    </div>
</template>

<script setup lang="ts">
const project = computed(() => {
    return thisProject().value
})
</script>