<template>
        <div class="max-w-screen-lg mx-auto">

                <div class="bg-white px-4 py-10 rounded-xl shadow-lg border-4 border-g-light mt-14">
                        <div class="text-center">
                                <h3 class="text-2xl font-medium text-g-dark-blue pb-5 border-b">
                                        <Icon name="line-md:computer" class="h-8 w-8 mr-4" />Le&nbsp;projet
                                </h3>
                        </div>
                        <div class="space-y-7 pt-10  text-center" v-if="project">
                                <div class="">
                                        {{ project.description }}
                                </div>
                                <div
                                        class="inline-flex justify-center items-center border rounded-2xl shadow-lg p-10 flex-col xl:flex-row">
                                        <IdentificationIcon class="h-16 w-16 xl:mr-14 text-g-dark-blue" />
                                        <div class="text-left grid grid-cols-12 items-center">
                                                <div class="col-span-12 text-lg text-center">{{ project.firstName }} {{
                                                        project.lastName
                                                }} - {{
        project.company
}}</div>
                                                <div
                                                        class="border-t border-dotted border-g-light-blue w-1/2 mx-auto my-3 col-span-12">
                                                </div>
                                                <AtSymbolIcon class="h-5 w-5 text-g-dark-blue col-span-2" />
                                                <div class="col-span-10 truncate">{{ project.customers[0] }}</div>
                                                <PhoneIcon class="h-5 w-5 text-g-dark-blue col-span-2" />
                                                <div class="col-span-10 truncate">{{ formatPhone(project.phone) }}</div>
                                        </div>
                                </div>
                        </div>
                        <ProjectInvoice :only-button="true" class="mt-10"/>
                        <ProjectOptionView id="sectionPricings" />


                </div>
        </div>
</template>

<script setup lang="ts">
import { IdentificationIcon } from '@heroicons/vue/24/solid'
import { AtSymbolIcon, PhoneIcon } from '@heroicons/vue/24/outline'

const {
        formatPhone
} = useString()

const project = computed(() => {
        return thisProject().value
})
</script>