<template>
    <div class="">
        <h1 class="title" v-if="!onlyButton">Devis</h1>

        <div class="px-4 py-7 text-center sm:px-6">
        <div class="hidden" id="saleOrderViewer" ref="soViewer"></div>
        <AtomButton type="blue" icon="download" title="Télécharger le devis" @click="onGenerate()" class="mx-auto"/>
    </div>

        <div class="mx-auto" :class="{'hidden': onlyButton}" id="saleOrderViewer" ref="soViewer"></div>
    </div>
</template>

<script setup lang="ts">

const soViewer = ref()

defineProps({
    onlyButton: Boolean
})

const {
    onGenerate,
    onCreate,
    onUpdate,
} = useSaleOrder()

onMounted(() => {
    onCreate(soViewer.value)
    onUpdate()
})


</script>

<style>
</style>