<template>
    <button type="button" @click="emit('click')" class="btn" :class="{
        'bg-g-dark-blue hover:bg-white text-white hover:text-g-dark-blue border-g-dark-blue': type === 'blue',
        'bg-white hover:bg-g-dark-blue text-g-dark-blue hover:text-white border-g-dark-blue': type === 'blue-reverse'
    }">
        <div class="flex flex-row justify-between">
            <span>{{ title }}</span>
            <Icon name="line-md:confirm" v-if="!icon && type === 'blue' || type === 'blue-reverse'" class="icon-btn" />
            <Icon name="line-md:download-loop" v-else-if="icon === 'download'" class="icon-btn" />
            <Icon name="line-md:plus" v-else-if="icon === 'plus'" class="icon-btn" />
        </div>
    </button>
</template>
  
<script setup lang="ts">

const emit = defineEmits(["click"])
defineProps({
    title: String,
    type: String,
    icon: String
})


</script>