<template>
    <div class="text-right" :class="required ? 'inputToValidate' : ''">
        <label class="flex flex-col-reverse relative w-full focus group shadow-md shadow-g-light">
            <div class="flex ">
                <div v-if="hasIcon"
                    class="rounded-l-md flex items-center px-3 border-t bg-white border-l border-b  border-g-dark text-g-dark shadow-sm text-md group-focus-within:border-g-dark-blue transition">
                    <BuildingOfficeIcon :class="leadIconClass" v-if="name === 'company'" />
                    <AtSymbolIcon :class="leadIconClass" v-else-if="type === 'email'" />
                    <PhoneIcon :class="leadIconClass" v-else-if="type === 'tel'" />
                </div>
                <input :value="modelValue" @input="onInput" @focusout="onValidate" :type="type" :name="name"
                    :autocomplete="autocomplete"
                    :class="name === 'company' || type === 'email' || type === 'tel' ? 'rounded-r-md' : 'rounded-md'"
                    class="pl-5 pt-3 block border-g-dark shadow-sm focus:border-g-dark-blue text-md transition w-full">

            </div>
            <span class="absolute bg-white px-3 leading-4 rounded-full"
                style="-webkit-transform-origin-x: 0; -moz-transform-origin-x: 0; ms-transform-origin-x: 0; o-transform-origin-x: 0; transform-origin-x: 0;"
                :class="{
                    'left-12': hasIcon,
                    'left-2': !hasIcon,
                    'scale-75 -translate-y-9 group-focus-within:text-g-dark-blue font-medium': modelValue,
                    'cursor-text transform -translate-y-4 transition text-g-dark group-focus-within:text-g-dark-blue group-focus-within:scale-75 group-focus-within:-translate-y-9 group-focus-within:font-medium': !modelValue
                }">
                {{ placeholder }}
            </span>
        </label>
        <span v-show="error"
            class="text-g-dark-blue inline-flex items-center px-3 py-0.5 mt-1 border-2 border-g-dark-blue rounded-md text-xs">
            <Icon name="line-md:alert" class="h-3 w-3 mr-1" />{{ error }}
        </span>

    </div>
</template>
  
<script setup lang="ts">
import { BuildingOfficeIcon, AtSymbolIcon, PhoneIcon } from '@heroicons/vue/24/solid'

const props = defineProps({
    modelValue: String,
    name: String,
    autocomplete: String,
    type: String,
    title: String,
    required: Boolean,
    verify: Boolean
})
const emit = defineEmits(["update:modelValue"])
const {
    onUpdate
} = useSaleOrder()

const {
    error,
    validateField,
    validatePhoneField,
    validateEmailField
} = useFormValidation()

const placeholder = computed(() => {
    if (props.required) {
        return props.title + ' *'
    }
    return props.title
})

const hasIcon = computed(() => {
    return props.name === 'company' || props.type === 'email' || props.type === 'tel'
})

const onValidate = () => {
    if (!props.required) {
        return;
    }
    if (props.type === 'tel') {
        validatePhoneField(props.modelValue!)
        return
    }
    if (props.type === 'email') {
        validateEmailField(props.modelValue!)
        return;
    }
    validateField(props.modelValue!)
}
defineExpose({
    onValidate
})

const onInput = (e: Event) => {
    const val = (e.target! as any)["value"] as string
    emit("update:modelValue", val)
    onUpdate()
}

const leadIconClass = "h-5 w-5 group-focus-within:text-g-dark-blue transition"
</script>