<template>
    <div class="fixed top-0 left-0 z-50 h-screen w-screen">
        <div class="absolute top-1/2 left-1/2 z-50" v-if="isLoadingDisplayed">
            <Icon name="line-md:loading-twotone-loop" class="h-20 w-20 -translate-x-10 -translate-y-10" />
        </div>
    </div>
</template>

<script lang="ts" setup>
const isLoadingDisplayed = ref(false)
onMounted(() => {
    setTimeout(() => {
        isLoadingDisplayed.value = true
    }, 800)
})
</script>
