<template>
    <transition name="modal-animation">
        <div v-show="modalActive" class="flex justify-center items-center h-screen w-screen fixed top-0 left-0 z-50"
            @click="close">
            <transition name="modal-animation-inner">
                <div v-show="modalActive" class="relative shadow-lg bg-white p-12 rounded-3xl">
                    <!-- Modal Content -->
                    <slot />
                </div>
            </transition>
        </div>
    </transition>
    
</template>

<script setup>
const props = defineProps({
    modalActive: Boolean
})
const emit = defineEmits(["close"])

const close = () => {
    emit("close");
}
</script>

<style scoped>
.modal-animation-enter-active,
.modal-animation-leave-active {
    transition: opacity 0.3s cubic-bezier(0.52, 0.02, 0.19, 1.02);
}

.modal-animation-enter-from,
.modal-animation-leave-to {
    opacity: 0;
}

.modal-animation-inner-enter-active {
    transition: all 0.3s cubic-bezier(0.52, 0.02, 0.19, 1.02) 0.15s;
}

.modal-animation-inner-leave-active {
    transition: all 0.3s cubic-bezier(0.52, 0.02, 0.19, 1.02);
}

.modal-animation-inner-enter-from {
    opacity: 0;
    transform: scale(0.8);
}

.modal-animation-inner-leave-to {
    transform: scale(0.8);
}
</style>