<template>
    <div class="flex flex-col gap-6">
        <div v-for="(obj, i) in modelValue" class="flex gap-2 justify-center">
            <AtomInput :name="name + '' + i" v-model="modelValue![i]" type="text" :title="title + ' ' + (i + 1)"
                class="w-full" />
            <AtomButton type="blue" icon="plus" @click="addString()" v-if="i === modelValue!.length - 1" />
            <AtomButton type="blue" @click="removeString(i)" v-else />
        </div>
    </div>
</template>
  
<script setup lang="ts">

const props = defineProps({
    modelValue: Array<string>,
    name: String,
    title: String
})
const emit = defineEmits(["update:modelValue"])




const addString = () => {
    let stringArray = props.modelValue
    stringArray?.push("")
    emit("update:modelValue", stringArray)
}

const removeString = (i: number) => {
    let stringArray = props.modelValue
    stringArray?.splice(i, 1)
    emit("update:modelValue", stringArray)
}

</script>