<template>
  <Transition name="slide-b" appear @after-leave="onclose()" @after-enter="oncloseDelay()">
    <div v-show="menuActive"
      class="flex items-center gap-8 shadow-2xl rounded-2xl rounded-br-none rounded-bl-none p-8 fixed left-20 -bottom-1 transition cursor-pointer"
      @click="onclose()" :class="{
        'bg-g-dark-blue border-4 border-g-light-blue text-white': type === 'blue',
        'bg-white border-4 border-g-dark-blue text-g-dark-blue': type === 'blue-reverse'
      }">
      <Icon name="line-md:circle-to-confirm-circle-transition" v-if="type === 'blue' || type === 'blue-reverse'"
        class="h-9 w-9" />
      <span class="text-xl font-medium">{{ title }}</span>
    </div>
  </Transition>

</template>
<script lang="ts" setup>
defineProps({
  menuActive: Boolean,
  title: String,
  type: String
})
const emit = defineEmits(['close'])

const oncloseDelay = () => {
  setTimeout(() => {
    onclose()
  }, 4000)
}

const onclose = () => {
  console.log("close")
  emit('close')
}
</script>


<style scoped>
.slide-b-enter-active,
.slide-b-leave-active {
  transition: transform 0.8s ease;
}

.slide-b-enter-from,
.slide-b-leave-to {
  transform: translateY(100%);
  transition: all 800ms ease-in 0s;
}
</style>