<template>
    <transition name="slide" appear @after-leave="onAfterLeave()">
        <div v-show="menuActive"
            class="shadow-2xl bg-white py-8 px-4 pt-24 xl:pt-8 h-screen fixed right-0 top-0 overflow-auto z-40 w-screen md:w-1/2 lg:w-1/3 xl:w-1/4 2xl:w-1/5">
            <Icon name="line-md:chevron-left" class="text-g-dark rotate-180 absolute left-0 top-24 xl:top-8 -translate-y-5 h-10 w-10 cursor-pointer"
                @click="onclose()" />
            <div class="flex flex-col gap-8 text-g-dark [&>input]:text-g-dark [&>textarea]:text-g-dark">
                <h3 class="text-3xl font-medium text-center py-8 border-b border-g-dark text-g-dark-blue">
                    {{ title }}</h3>
                <slot />
            </div>
        </div>
    </transition>

</template>
<script lang="ts" setup>
defineProps({
    menuActive: Boolean,
    title: String
})
const emit = defineEmits(['close', 'after-leave'])

const onclose = () => {
    emit('close')
}
const onAfterLeave = () => {
    emit('after-leave')
}



</script>


<style scoped>
.slide-enter-active,
.slide-leave-active {
    transition: transform 0.2s ease;
}

.slide-enter-from,
.slide-leave-to {
    transform: translateX(100%);
    transition: all 250ms ease-in 0s;
}
</style>