<template>
    <div>
        <label class="flex flex-col relative w-full focus group ">
            <textarea :value="modelValue" @input="onInput" :name="name" :rows="rows"
                class="pl-5 pt-3 block border-g-dark shadow-sm focus:border-g-dark-blue transition rounded-md"></textarea>

            <span class="absolute bg-white px-3 left-2"
                style="-webkit-transform-origin-x: 0; -moz-transform-origin-x: 0; ms-transform-origin-x: 0; o-transform-origin-x: 0; transform-origin-x: 0;"
                :class="modelValue ? 'scale-75 font-medium -translate-y-3 group-focus-within:text-g-dark-blue' : 'cursor-text transform translate-y-2 transition text-g-dark group-focus-within:text-g-dark-blue group-focus-within:scale-75 group-focus-within:font-medium group-focus-within:-translate-y-3'">
                {{ title }}
            </span>
        </label>
    </div>
</template>
  
<script setup lang="ts">
const {onUpdate} = useSaleOrder()
defineProps({
    modelValue: String,
    name: String,
    rows: String,
    title: String
})
const emit = defineEmits(["update:modelValue"])


const onInput = (e: Event) => {
    const val = (e.target! as any)["value"] as string
    emit("update:modelValue", val)
    onUpdate()
}
</script>