<template>
    <div>
        <div v-if="project" class="space-y-10">

            <ProjectStatusForm />
            <ProjectForm />

            <ProjectWidgetsSaveButton/>
        </div>
    </div>
</template>

<script setup lang="ts">

definePageMeta({
    middleware: ["authenticated"]
})

const project = computed(() => {
    return thisProject().value
})

let {
    onSubmit, getNew, onOpen
} = useProject()


const doSave = (e: KeyboardEvent) => {
    if (!(e.keyCode === 83 && e.ctrlKey)) {
        return;
    }

    e.preventDefault();
    onSubmit()
}


onMounted(() => {
    onOpen(getNew())
    document.addEventListener("keydown", doSave);
})

onBeforeUnmount(async () => {
    document.removeEventListener("keydown", doSave);
});

</script>