<template>
    <div class="fixed top-0 z-50">
        <!-- MOBILE NAV -->
        <nav class="mobile-flex mobile-nav">
            <NuxtLink class="link" to="/">
                <span class="icon">
                    G
                </span>
            </NuxtLink>
            <div v-if="project" class="mobile-flex">
                <div class="mobile-flex" v-if="!project.id">
                    <a href="#" class="link">
                        <IdentificationIcon class="icon" />
                    </a>

                    <a href="#sectionProject" class="link">
                        <ComputerDesktopIcon class="icon" />
                    </a>

                    <a href="#sectionPricings" class="link">
                        <CurrencyEuroIcon class="icon" />
                    </a>

                    <a href="#sectionSaleOrder" class="link">
                        <DocumentCheckIcon class="icon" />
                    </a>
                </div>
                <div class="mobile-flex" v-else-if="!isManager()">

                    <a href="#" class="link">
                        <Squares2X2Icon class="icon" />
                    </a>

                    <a href="#sectionProject" class="link">
                        <ComputerDesktopIcon class="icon" />
                    </a>


                </div>
            </div>
            <a href="#" class="link absolute right-0 border-l-2 !border-r-0 border-g-light" @click="logout()">
                <ArrowRightOnRectangleIcon class="icon" />
            </a>

        </nav>



        <!-- DESKTOP NAV -->
        <nav :class="!isOpen ? 'w-16 [&_span]:-translate-x-40 [&_span]:opacity-0' : 'w-64'" class="desktop desktop-nav"
            @mouseenter="isOpen = !isOpen" @mouseleave="isOpen = !isOpen">

            <NuxtLink
                class="block relative text-5xl cursor-pointer pt-6 pb-5 mb-3 pl-3 border-b-4 border-g-light duration-200 bg-g-dark"
                to="/">
                <div class="absolute left-0 z-40 outline-0 pl-3 bg-g-dark text-g-light">
                    G
                </div>
                <h2 class="transition duration-300 text-g-dark-red tracking-wide"
                    :class="!isOpen ? '-translate-x-40 opacity-0' : ''">
                    GROOM</h2>
            </NuxtLink>

            <NuxtLink to="/" :class="linkStyle">
                <HomeIcon :class="iconStyle" />
                <span>Accueil</span>
            </NuxtLink>

            <div v-if="project">

                <div v-if="!project.id">

                    <a href="#" :class="linkStyle">
                        <IdentificationIcon :class="iconStyle" />
                        <span>Client</span>
                    </a>

                    <a href="#sectionProject" :class="linkStyle">
                        <ComputerDesktopIcon :class="iconStyle" />
                        <span>Projet</span>
                    </a>

                    <a href="#sectionPricings" :class="linkStyle">
                        <CurrencyEuroIcon :class="iconStyle" />
                        <span>Offres</span>
                    </a>

                    <a href="#sectionSaleOrder" :class="linkStyle">
                        <DocumentCheckIcon :class="iconStyle" />
                        <span>Devis</span>
                    </a>
                </div>
                <div v-if="project.id && !isManager()">

                    <a href="#" :class="linkStyle">
                        <Squares2X2Icon :class="iconStyle" />
                        <span>Dashboard</span>
                    </a>

                    <a href="#sectionProject" :class="linkStyle">
                        <ComputerDesktopIcon :class="iconStyle" />
                        <span>Projet</span>
                    </a>


                </div>
            </div>

            <div class="absolute bottom-0 w-full border-t-4 border-g-light">
                <NuxtLink to="/" class="hidden" :class="linkStyle">
                    <Cog6ToothIcon :class="iconStyle" />

                    <span>Paramètres</span>
                </NuxtLink>
                <div :class="linkStyle" @click="logout()">
                    <ArrowRightOnRectangleIcon :class="iconStyle" />
                    <span>Se&nbsp;déconnecter</span>
                </div>
            </div>

        </nav>
    </div>
</template>

<script lang="ts" setup>
import { HomeIcon, Squares2X2Icon, Cog6ToothIcon, ArrowRightOnRectangleIcon, ComputerDesktopIcon, CurrencyEuroIcon, DocumentCheckIcon, IdentificationIcon } from '@heroicons/vue/24/solid'

const project = computed(() => {
    return thisProject().value
})

const isOpen = ref(false);

const logout = () => {
    signOutUser().then(() => {
        navigateTo('/login')
    })
}

const linkStyle = "flex tracking-wide items-end cursor-pointer relative border-g-dark hover:border-g-light border-b-4 transition duration-200 py-5 group"
const iconStyle = "absolute left-0 pl-3 bg-g-dark z-50 h-8 group-hover:text-g-dark-red duration-300"
</script>

<style scoped>
.mobile-nav {
    @apply w-screen bg-g-dark shadow-g-dark shadow-lg text-g-light font-medium text-xl;
}

.mobile-nav .link {
    @apply text-4xl border-r-2 border-g-light py-2 px-4;
}

.mobile-nav .icon {
    @apply h-8 w-8
}

.desktop-nav {
    @apply h-screen duration-300 bg-g-dark absolute shadow-g-dark shadow-lg text-g-light font-medium text-xl [&_span]:transition [&_span]:duration-300 [&_span]:pl-14;
}
</style>