<template>
    <span>
        <span ref="triggerElement" @mouseenter="toggleTooltip" @mouseleave="toggleTooltip" class="cursor-pointer" aria-describedby="tooltip">
            <slot></slot>
        </span>
        <div ref="tooltipElement" id="tooltip" role="tooltip" :class="{ 'opacity-0': !tooltipShow, 'opacity-100': tooltipShow }"
            class="z-50 max-w-xs break-words transition-opacity duration-300 ease-out absolute bg-g-light bg-opacity-80 rounded-lg">
            <div v-if="title"
                class="bg-g-dark-blue text-white text-center bg-opacity-80 font-medium p-2 border-b border-solid border-white uppercase rounded-t-lg ">
                {{ title }}
            </div>
            <div class="text-black text-sm py-2 px-5 text-justify">
                {{ text }}
            </div>
            <div id="arrow" data-popper-arrow></div>
        </div>
    </span>
</template>

<script setup lang="ts">
import { createPopper } from "@popperjs/core";
const props = defineProps({
  title: String,
  text: String
})

const tooltipShow = ref(false)

const triggerElement = ref()
const tooltipElement = ref()

const toggleTooltip = () => {
    if (tooltipShow.value) {
        tooltipShow.value = false;
    } else {
        tooltipShow.value = true;
        createPopper(triggerElement.value, tooltipElement.value, {
            strategy: "fixed",
            placement: "top",
            modifiers: [
                {
                    name: 'offset',
                    options: {
                        offset: [0, 10]
                    }
                }
            ]
        });
    }
}
</script>

<style scoped>
#arrow,
#arrow::before {
  position: absolute;
  bottom:-2px;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}
</style>