@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/*@layer base {
  /*h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

@layer components {
  .btn-blue {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded;
  }
}

@layer utilities {
  .filter-none {
    filter: none;
  }
  .filter-grayscale {
    filter: grayscale(100%);
  }
}*/

@layer components {
  .btn {
    @apply px-5 py-2 text-center transition duration-300 ease-in-out border border-solid rounded-xl shadow-md;
  }
  .icon-btn {
    @apply h-6 w-6;
  }
  .title {
    @apply text-4xl xl:text-5xl text-center text-g-light-blue mb-10 mt-16
  }
  .form-section {
    @apply bg-white px-6 py-10 rounded-xl shadow-lg border-4 border-g-light flex flex-col gap-6 mt-16;
  }
  .form-section .title {
    @apply text-2xl font-medium text-g-dark-blue pb-5 border-b flex justify-center my-0;
  }


  
  .desktop {
    @apply !hidden xl:!block ;
  }
  .desktop-flex {
    @apply !hidden xl:!flex ;
  }
  


  
  .mobile {
    @apply !block xl:!hidden;
  }
  .mobile-flex {
    @apply !flex xl:!hidden;
  }
  
}