<template>
    <div class=" bg-white rounded-2xl border-2 shadow-lg text-lg" :class="{
        'border-g-light-blue': isOngoing(step),
        'border-g-light': isNotStarted(step) || isFinished(step)
    }" v-if="step">
        <div class="py-4 px-7 w-full flex items-center justify-between border-b gap-x-1 text-g-dark-blue border-g-light">
            <div class="space-x-3 w-full">
                <Icon name="line-md:calendar" class="w-7 h-7 text-g-dark" /><span class="text-g-dark">{{ dateHeader
                }}</span>
            </div>
            <Icon name="line-md:external-link" class="z-20 w-8 h-8 cursor-pointer text-g-dark-blue hover:text-g-light-blue"
                v-if="step.link" @click="openLink()" />
            <Icon name="mdi:qrcode-scan" class="z-20 w-8 h-8 cursor-pointer text-g-dark-blue hover:text-g-light-blue"
                v-if="step.link" @click="toggleModal()" />
        </div>

        <div @click="select">
            <div class="relative pb-8 text-sm flex flex-col gap-10 py-10">
                <div class="status text-g-dark-blue" v-if="isOngoing(step)">
                    <span class="statusCircle bg-g-dark-blue"></span>en cours
                </div>
                <div class="status text-g-light" v-else-if="isNotStarted(step)">
                    <span class="statusCircle bg-g-light"></span>à venir
                </div>
                <div class="status text-g-light-green" v-else-if="isFinished(step)">
                    <span class="statusCircle bg-g-light-green"></span>Terminé
                </div>
                <h1 class="w-11/12 mx-auto text-3xl font-medium" :class="{
                    'text-g-light-blue': isOngoing(step),
                    'text-g-light': isNotStarted(step),
                    'text-g-dark': isFinished(step)
                }">{{
    step.name
}}</h1>
                <div v-if="step.description"
                    class="w-11/12 mx-auto text-xl border-2 py-3 px-6 rounded-xl text-justify border-g-light" :class="{
                        'text-g-light-blue': isOngoing(step),
                        'text-g-light': isNotStarted(step),
                        'text-g-dark': isFinished(step)
                    }">
                    {{ step.description }} </div>
                <div v-for="info in step.infos">
                    {{ info }}
                </div>
            </div>
        </div>


        <div v-for="(file) in step.files" class="fileList" @click="openFile(file)">
            <p class="text-g-dark-blue hover:text-g-light-blue">
                <Icon name="line-md:download-loop" class="w-7 h-7" />
                <span class="truncate">{{ file.fileName }}</span>
            </p>
        </div>

        <div v-for="(file) in newFiles" class="fileList">
            <p class="text-g-light-blue">
                <Icon name="line-md:plus" class="w-7 h-7" />
                <span class="truncate">{{ file.file.name }}</span>
            </p>
        </div>



        <AtomModal @close="toggleModal" :modalActive="modalActive">
            <QrcodeVue :value="step.link" :size="300" level="H" />
        </AtomModal>
    </div>
</template>

<script setup lang="ts">
import QrcodeVue from 'qrcode.vue'
import { Step } from '~~/composables/useStep';

const { formatLongDate, formatMediumDate } = useDate()
const { openFile } = useFile()
const { isFinished, isNotStarted, isOngoing } = useStep()
const { newFiles } = useFileUpload()

const emit = defineEmits(['onselect'])

const props = defineProps({
    step: Object as () => Step
})

const dateHeader = computed(() => {
    if (props.step?.endDate) {
        return formatMediumDate(new Date(props?.step!?.startDate)) + " - " + formatMediumDate(new Date(props.step!.endDate))
    } else {
        return formatLongDate(new Date(props?.step!?.startDate))
    }
})

const modalActive = ref(false);

const toggleModal = () => {
    modalActive.value = !modalActive.value;
};

const openLink = () => {
    window.open(props.step?.link);
}

const select = () => {
    emit('onselect')
}
</script>

<style scoped>
.status {
    @apply px-3 py-1 absolute top-0 right-0
}

.statusCircle {
    @apply inline-block w-2 h-2 mr-2 rounded-full
}

.fileList {
    @apply space-x-5 text-g-dark text-base mb-5 ml-5
}
</style>