
<template>
    <div class="space-y-4">
        <div v-for="(file, index) in step.files" :key="index" class="grid grid-cols-7 text-base items-center">
            <Icon name="line-md:document" class="w-6 h-6 col-span-1 text-g-dark-blue" />
            <span class="truncate col-span-5">{{ file.fileName }}</span>
            <Icon name="line-md:close-circle" class="w-6 h-6 col-span-1 text-g-dark-blue cursor-pointer"
                @click="onDeleteFile(file)" />
        </div>

        <!-- New files info -->
        <div v-for="(fileToUpload, index) in newFiles" :key="index" class="grid grid-cols-7 text-base items-center">
            <Tooltip :text="fileToUpload.file.name">
                <Icon name="line-md:document-add" class="w-6 h-6 col-span-1 text-g-light-blue" />
            </Tooltip>
            <span class="truncate col-span-5">{{ fileToUpload.file.name }}</span>
            <Icon name="line-md:close-circle" class="w-6 h-6 col-span-1 text-g-dark-blue cursor-pointer"
                @click="onDeleteFileToUpload(fileToUpload)" />
        </div>
    </div>
</template>
<script setup lang="ts">

const { onDeleteFile, onDeleteFileToUpload, newFiles } = useFileUpload();

const step = computed(() => thisStep().value!)


</script>

<style scoped></style>