<template>
    <div class="h-full">
        <div class="transition duration-500 rounded-3xl shadow-inner shadow-g-light-blue py-14 px-10 h-full text-center border-4 border-g-light"
            :class="cardKey !== 'newOption' && active ? 'text-white bg-g-dark-blue ' : 'text-g-dark-blue bg-white'">
            <div v-if="cardKey === 'newOption'" class="flex flex-col gap-y-2 cursor-pointer h-full"
                @click="openCustomOptionMenu()">
                <div class="text-3xl font-medium mb-6">
                    Ajouter
                </div>
                <div class="flex justify-center items-center h-full text-g-dark-blue">
                    <Icon name="line-md:plus-circle" class="h-36" />
                </div>
            </div>
            <div class="flex flex-col gap-y-2" v-else>
                <div class="text-3xl font-medium mb-6">
                    {{ pricingChoice.pricingCard.type }}
                </div>
                <h2 class="text-4xl font-semibold">{{ pricingChoice.pricingCard.amount }} €</h2>
                <h3 class="text-3xl font-medium mb-6">{{ pricingChoice.pricingCard.amountInfos }}</h3>
                <div class="h-20 text-lg">
                    {{ pricingChoice.pricingCard.description }}
                </div>
                <button type="button" v-if="pricingChoice.pricingSection !== PricingSection.Custom"
                    class=" rounded-3xl py-2 font-medium text-lg transition duration-100 mb-6"
                    :class="active ? 'bg-white text-g-dark-blue' : 'bg-g-dark-blue text-white'"
                    @click="onChoose(pricingChoice)">Choisir</button>
                <button type="button" v-else
                    class=" rounded-3xl py-2 font-medium text-lg transition duration-100 mb-6 bg-white text-g-dark-blue"
                    @click="onRemove(pricingChoice)">Supprimer</button>
                <div v-for="include in pricingChoice.pricingCard.including">
                    {{ include }}
                </div>
            </div>
        </div>
        <ProjectOptionMenu @close="closeCustomOptionMenu()" :menu-active="isCustomOptionMenuActive" :option="optionOpened"
            v-if="pricingChoice.pricingSection === PricingSection.Custom" />

    </div>
</template>

<script setup lang="ts">
import { PricingCard, PricingChoice } from '~~/composables/useOption';
const { isSelected, onSelect, onRemove, onCreate } = useOption()
const optionOpened = ref()

const props = defineProps({
    pricingSection: String,
    pricingCard: Object as () => PricingCard
})

const pricingChoice = {
    pricingSection: props.pricingSection,
    pricingCard: props.pricingCard
} as PricingChoice

const active = computed(() => {
    return isSelected(pricingChoice)
})

const onChoose = (pricingChoice?: PricingChoice) => {
    if (!pricingChoice) {
        optionOpened.value = onCreate()
    } else {
        if (!active.value) {
            optionOpened.value = pricingChoice
        }
        onSelect(pricingChoice)
    }
    openCustomOptionMenu()
}



const isCustomOptionMenuActive = ref(false)

const closeCustomOptionMenu = () => {
    isCustomOptionMenuActive.value = false
}

const openCustomOptionMenu = () => {
    isCustomOptionMenuActive.value = true
}

const cardKey = getCurrentInstance()?.vnode.key

</script>