<template>
    <div class="bg-gray-100 text-g-dark font-normal min-h-screen">
        <Navbar v-if="auth" />
        <Header v-if="auth" />

        <div class="h-full max-w-screen mx-5">

            <div class="container mx-auto w-full">
                <AtomLoading v-if="useLoading().value" />
                <slot></slot>
            </div>
        </div>
        <Footer v-if="auth" />
    </div>
</template>

<script setup lang="ts">
const auth = computed(() => {
    if (thisUser().value) {
        return thisUser().value!.auth
    }
})

</script>

<style>
@import url('https://fonts.cdnfonts.com/css/chillax');

html {
    scroll-behavior: smooth;
    font-family: 'Chillax', sans-serif;
}
</style>