<template>
    <div class="flex justify-center">
        <div class="space-y-8">
            <div class="grid grid-cols-5">
                <div class="hidden md:block col-span-1 col-start-2 border-b border-g-dark h-1/2"></div>
                <div class="col-span-5 md:col-span-1 text-center text-4xl">Projets</div>
                <div class="hidden md:block col-span-1 border-b border-g-dark h-1/2"></div>
            </div>
            <div v-if="thisUser().value?.roles" class="w-screen sm:w-full">
                <ProjectListManager />
            </div>
        </div>

    </div>
</template>

<script setup lang="ts">
definePageMeta({
    middleware: ["authenticated"]
})

onMounted(() => {
    thisProject().value = null
    thisStep().value = null
}

)


</script>
