<template>
    <div class=" min-h-screen flex items-center justify-center md:flex-row flex-col mb-6 space-y-10">
        <div class="max-w-lg w-full bg-white px-6 py-12 rounded-xl shadow-lg">
            <div>
                <h2 class="text-center text-4xl tracking-tight font-semibold text-g-dark">Connexion
                </h2>
            </div>
            <form @submit.prevent="onSubmit()" class="space-y-14">
                <input type="hidden" name="remember" value="true" />
                <div class="rounded-md flex flex-col">
                    <label for="email-address" class="sr-only">Adresse email</label>
                    <div class="flex shadow-sm">
                        <span
                            class="inline-flex items-center px-3 text-sm text-g-light bg-g-dark-blue border border-r-0 rounded-l-md">
                            <AtSymbolIcon class="h-5 w-5" />
                        </span>
                        <input id="email-address" name="email" type="email" autocomplete="email" value="antoine@portfolio.fr"
                            required="true"
                            class="rounded-none rounded-r-lg bg-white border text-g-dark focus:border-g-dark-blue block flex-1 min-w-0 w-full text-sm border-g-light p-2.5 transition duration-500"
                            placeholder="Adresse email"/>
                    </div>
                    <label for="password" class="sr-only">Mot de passe</label>
                    <div class="flex mt-7 shadow-sm">
                        <span
                            class="inline-flex items-center px-3 text-sm text-g-light bg-g-dark-blue border border-r-0 rounded-l-md">
                            <KeyIcon class="h-5 w-5" />
                        </span>
                        <input id="password" name="password" type="password" value="portfolio"
                            autocomplete="current-password" required="true"
                            class="rounded-none rounded-r-lg bg-white border text-g-dark focus:border-g-dark-blue block flex-1 min-w-0 w-full text-sm border-g-light p-2.5 focus:transition duration-500"
                            placeholder="Mot de passe" />
                    </div>
                </div>
                <div class="space-y-4">
                    <p class="text-g-light-red text-sm"> {{ error_message }} </p>
                    <button type="submit" id="signIn" :class='error_message ? "animate-wiggle" : ""'
                        class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md shadow-md text-white bg-g-dark-blue hover:bg-g-dark-blue focus:outline-none focus:ring-2 focus:ring-offset-2 transition ease-out duration-1000">
                        <span class="basis-11/12 text-g-light text-base">Se connecter</span>
                        <div class="basis-1/12 text-g-light">
                            <ChevronRightIcon class="h-6 w-6" />
                        </div>
                    </button>
                </div>
            </form>
        </div>
        <div class="max-w-lg w-full text-center">
            <h1 class="text-7xl xl:text-8xl font-medium text-g-dark">GROOM</h1>
            <h2 class="mt-10 text-2xl font-medium text-g-dark">by BYH SOLUTIONS</h2>
        </div>

    </div>
</template>

<script setup lang="ts">
import { AtSymbolIcon, ChevronRightIcon, KeyIcon } from '@heroicons/vue/24/outline'

definePageMeta({
    middleware: ["unauthenticated"]
})

const error_message = ref()

const onSubmit = () => {
    signInUser("antoine@portfolio.fr", "portfolio")
        .then(() => {
            navigateTo("/")
        })
        .catch((error) => { error_message.value = error.message })
}

</script>