


<template>

  <div>
    <label class="inline-flex flex-col-reverse relative focus group">

      <input type="email" name="email" required :class="inputStyle">

      <span
        class="absolute bg-white px-1 transform -translate-y-2 left-4 transition group-focus-within:scale-75 group-focus-within:-translate-y-6 group-focus-within:-translate-x-4">
        Email address *
    </span>

    </label>


    <div class="mt-20" v-if="project">
      <h2 class="sr-only">Steps</h2>

      <div>
        <ol class="grid grid-cols-1 divide-x divide-g-light rounded-lg border border-g-light sm:grid-cols-4 ">
          <li class="relative" v-for="status in Object.values(ProjectStatus)" :key="status">
            <div class="flex items-center justify-center p-4 "
              :class="Object.values(ProjectStatus).indexOf(status) < Object.values(ProjectStatus).indexOf(project.status) ? 'bg-g-dark-blue text-g-light' : Object.values(ProjectStatus).indexOf(status) == Object.values(ProjectStatus).indexOf(project.status) ? 'bg-g-dark-blue text-g-light' : 'bg-g-light text-g-dark-blue'">
              <span v-if="Object.values(ProjectStatus).indexOf(status) != Object.values(ProjectStatus).length - 1"
                class="absolute -right-2 top-1/2 hidden h-4 w-4 -translate-y-1/2 rotate-45 z-50 border border-b-0 border-l-0 border-g-light sm:block rounded"
                :class="Object.values(ProjectStatus).indexOf(status) < Object.values(ProjectStatus).indexOf(project.status) ? 'bg-g-dark-blue' : Object.values(ProjectStatus).indexOf(status) == Object.values(ProjectStatus).indexOf(project.status) ? 'bg-g-dark-blue' : 'bg-g-light'">
              </span>
              <svg class="mr-2 h-10 w-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2" />
              </svg>

              <div>
                <strong class="block font-medium"> {{ status }} </strong>
                <p> Some info about you. </p>
              </div>
            </div>
          </li>
        </ol>
      </div>
    </div>











    <div class="w-full py-6 mt-16" v-if="project">
      <div class="flex">
        <div class="w-1/4" v-for="status in Object.values(ProjectStatus)" :key="status">
          <div class="relative mb-2">
            <div class="absolute flex align-center items-center align-middle content-center" v-if="Object.values(ProjectStatus).indexOf(status) != 0"
              style="width: calc(100% - 2.5rem - 1rem); top: 50%; transform: translate(-50%, -50%)">
              <div class="w-full bg-g-light rounded items-center align-middle align-center flex-1">
                <div class="bg-g-light-blue py-1 rounded" :class="Object.values(ProjectStatus).indexOf(status) <= Object.values(ProjectStatus).indexOf(project.status) ? 'w-full' : Object.values(ProjectStatus).indexOf(status) == Object.values(ProjectStatus).indexOf(project.status) + 1 ? 'w-1/3' : 'w-0'"></div>
              </div>
            </div>
            <div class="w-10 h-10 mx-auto bg-g-dark-blue rounded-full text-lg text-white flex items-center cursor-pointer" @click="changeStatus(status)">
              <span class="text-center text-white w-full">
                <svg class="w-full fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                  height="24">
                  <path class="heroicon-ui"
                    d="M5 3h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2zm14 8V5H5v6h14zm0 2H5v6h14v-6zM8 9a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm0 8a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                </svg>
              </span>
            </div>
          </div>

          <div class="text-xs text-center md:text-base">{{status}}</div>
        </div>

      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ProjectStatus } from '~~/composables/useProject';

let { onFetchOne } = useProject();
onMounted(async () => {
  onFetchOne("VWmAGrvNY0Qcx9M0gO5O");
});
const project = computed(() => {
  return thisProject().value
})


function changeStatus(statusSelect: ProjectStatus) {
    if(isManager()) {
    thisProject().value!.status = statusSelect
    }
}

const inputStyle = "mt-1 block w-full rounded-md border-g-light shadow-sm focus:border-g-dark-blue focus:ring-g-dark-blue sm:text-sm transition"


</script>
