<template>
    <div class="form-section" v-if="project">
        <h3 class="title">
            <IdentificationIcon class="h-8 w-8 mr-4" /><span>Le&nbsp;client</span>
        </h3>
        <div class="pt-4 xl:px-14 xl:mx-6 grid grid-cols-6 gap-6">

            <AtomInput ref="firstnameInput" v-model="project.firstName" name="first-name" autocomplete="given-name" type="text"
                title="Prénom" class="col-span-6 sm:col-span-3" :required="true" />

            <AtomInput ref="lastnameInput" v-model="project.lastName" name="last-name" autocomplete="family-name" type="text" title="Nom"
                class="col-span-6 sm:col-span-3" :required="true" />

            <AtomInput v-model="project.company" name="company" type="text" title="Société"
                class="col-span-6 lg:col-span-3" />

            <AtomInput ref="phoneInput" v-model="project.phone" name="phone" autocomplete="tel" type="tel" title="Numéro de téléphone"
                class="col-span-6 lg:col-span-3" :required="true" />

               
        </div>

        <AtomMultiInput v-model="project.customers" class="mx-auto w-full lg:w-2/3" name="email" title="Adresse email"/>

    </div>
</template>

<script setup lang="ts">
import { IdentificationIcon } from '@heroicons/vue/24/solid'

const project = computed(() => {
    return thisProject().value
})
const firstnameInput = ref()
const lastnameInput = ref()
const phoneInput = ref()


onMounted(() => {
    const { fieldsToValidate } = useProject()
    fieldsToValidate.value.push(firstnameInput)
fieldsToValidate.value.push(lastnameInput)
fieldsToValidate.value.push(phoneInput)
})

</script>