<template>
  <div class="scroll-smooth">
    <div v-if="project">

      <ProjectTitle v-if="!isNew(project)" />

      <div class="block sm:hidden mx-5 border-b-2 border-g-light h-1/2"></div>

      <div v-if="isManager()">
        <ProjectStatusForm v-if="!isNew(project)" class="hidden sm:flex" />
        <div class="" v-if="!isNew(project)">
          <ul class="flex justify-center text-g-dark font-medium mt-16 text-lg">
            <li>
              <a href="#" class="py-4 px-8 border-b-2 transition-colors"
                :class="activeTab === 'step' ? 'text-g-dark-blue border-g-dark-blue' : 'hover:text-g-dark hover:border-g-dark'"
                @click="activeTab = 'step'">
                Avancement
              </a>
            </li>
            <li>
              <a href="#" class="py-4 px-8 border-b-2 transition-colors"
                :class="activeTab === 'project' ? 'text-g-dark-blue border-g-dark-blue' : 'hover:text-g-dark hover:border-g-dark'"
                @click="activeTab = 'project'">
                Paramètres
              </a>
            </li>
          </ul>

          <LazyProjectForm v-if="activeTab === 'project'" />
          <LazyProjectStep v-else-if="activeTab === 'step'" />

        </div>

        <div v-else>
          <ProjectForm />
        </div>

      </div>

      <div v-else>
        <ProjectStatusForm v-if="!isNew(project)" class="hidden sm:flex" />
        <ProjectStep />
        <ProjectView id="sectionProject" />
      </div>

    </div>
  </div>
</template>

<script setup lang="ts">
const route = useRoute();

const { onFetchOne, isNew } = useProject()

const activeTab = ref("step")

definePageMeta({
  middleware: ["authenticated"],
});

const project = computed(() => {
  return thisProject().value;
});

onMounted(async () => {
  const id = route.params.project as string
  onFetchOne(id);
});

</script>
