<template>
    <div class="form-section">
            <h3 class="title">
                <Icon name="line-md:computer" class="h-8 w-8 mr-4"/>projet
            </h3>
            <AtomInput ref="projectNameInput" v-model="project.name" name="project-name" type="text" title="Nom du projet" :required="true" />

            <AtomTextarea v-model="project.description" title="Description" name="description" rows="3" />

            <ProjectWidgetsSaveButton/>
    </div>
</template>

<script setup lang="ts">

const project = computed(() => {
    return thisProject().value!
})

const projectNameInput = ref()

onMounted(() => {
    const { fieldsToValidate } = useProject()
    fieldsToValidate.value.push(projectNameInput)
})

</script>