<template>
    <div class="max-w-screen-lg mx-auto text-white">
        <h1 class="title mt-15 sm:mt-30 mb-5 xl:mb-32">
            <p v-if="!isManager()">
                Avancement
            </p>
        </h1>

        <div v-if="isManager()" class="flex flex-col items-center relative pb-8 xl:pb-32">
            <div class="stepCircle bg-g-light-blue border-g-dark-blue" @click="select()">
                <Icon name="line-md:plus" class="w-16 h-16" />
            </div>
            <div v-if="steps && steps.length > 0" class="divider">
            </div>
        </div>

        <div v-for="(step, index) in steps">
            <div class="relative">
                <div v-if="index != steps!.length - 1" class="divider">
                </div>
                <div class="stepCircle absolute -translate-x-1/2 bg-g-light-blue border-g-dark-blue desktop-flex "
                    @click="select(step)">
                    {{ steps!.length - index }}
                </div>
                <div class="flex xl:pb-36" :class="index % 2 ? 'justify-start' : 'justify-end'">
                    <div class="w-full xl:w-1/2 my-6 xl:-mt-10 cursor-pointer"
                        :class="index % 2 ? 'xl:pr-20' : 'xl:pl-20'">
                        <ProjectStepWidgetsCard :step="step" @onselect="select(step)" />
                    </div>
                </div>

            </div>
        </div>

        <ProjectWidgetsSaveButton v-if="thisUser().value?.roles?.includes('manager')" class="mt-20" />

        <ProjectStepMenu @close="closeStepMenu()" :menu-active="isStepMenuActive" />
    </div>
</template>

<script setup lang="ts">
import { Step } from '~~/composables/useStep';

const { onCreate, onOpen, sort } = useStep()

const project = computed(() => {
    return thisProject().value
})

const steps = ref(project.value?.steps)
const isStepMenuActive = ref(false)

onMounted(() => {
    sort()
})

const select = (step?: Step) => {
    if (isManager()) {
        if (!step) {
            onCreate()
        }
        else if (thisStep().value != step) {
            onOpen(step)
        }
        sort()
        isStepMenuActive.value = true
    }
}

const closeStepMenu = () => {
    isStepMenuActive.value = false
}



</script>

<style scoped>
.divider {
    @apply absolute hidden w-1 h-full bg-g-light-blue xl:block left-1/2
}

.stepCircle {
    @apply flex items-center justify-center w-20 h-20 text-4xl font-semibold z-10 border-4 rounded-full left-1/2 cursor-pointer
}
</style>