<template>
  <AtomSidebar @close="onclose()" @after-leave="onAfterLeave" :menu-active="menuActive"
    :title="isNew(step) ?'Nouvelle étape': step.name" v-if="step">

    <AtomInput v-model="step.name" ref="nameInput" name="name" type="text" title="Nom de l'étape" :required="true" />


    <AtomInput v-model="step.startDate" ref="startDateInput" name="start-date" type="date" title="Date de début" :required="true" />

    <AtomTextarea v-model="step.description" title="Informations" name="infos" rows="3" />

    <AtomFileDropZone class="desktop" />
    <AtomFileUpload class="mobile" />
    <ProjectStepWidgetsFileList />



    <AtomInput v-model="step.link" name="link" type="url" title="Version du site" />

    <AtomButton type="blue" title="Ok" @click="onSubmit" class="mx-5" />
  </AtomSidebar>

</template>
<script lang="ts" setup>
const emit = defineEmits(['close'])
const { onClose, onFinish, onDelete, onSave, isNew, isOngoing } = useStep()
const { hasError, validateForm } = useFormValidation()

defineProps({
  menuActive: Boolean
})

const nameInput = ref()
const startDateInput = ref()

const onSubmit = () => {
  validateForm(nameInput, startDateInput)
  if(!hasError.value) {
    onSave()
  }
}

const onclose = () => {
  emit("close")
}

const onAfterLeave = () => {
  console.log("onAfterLeave")
  onClose()
}

const step = computed(() => {
  return thisStep().value
})



</script>